* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.background-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  filter: brightness(80%);
}

.background-img {
  object-fit: cover;
  width: 100vw;
  height: 100%;
}

.login-card-container {
  padding: 0px 60px;
  height: 415px;
  width: 450px;
  perspective: 1000px;
}

.login-button-p-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-content-container {
  width: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.login-front-content-container,
.login-back-content-container {
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.login-front-content-container {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px 41px;
  border-radius: 10px;
  backdrop-filter: blur(7px);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-back-content-container {
  transform: rotateY(180deg);
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(7px);
  padding: 20px 41px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.change-face .login-content-container {
  transform: rotateY(180deg);
}

.card-title {
  color: white;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
}

.card-alert-p-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  flex-wrap: wrap;
  gap: 5px;
}

.card-alert-p {
  color: rgba(255, 255, 255, 0.82);
  font-weight: 500;
}

.sign-up-p {
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 15px;
}

.card-input {
  background: transparent;
  background-color: rgba(203, 198, 198, 0.3);
  padding: 9.5px;
  border: 1px rgba(0, 0, 0, 0.6) solid;
  border: none;
  border-radius: 5px;
  width: 245px;
  color: white;
  margin-top: 4px;
}

.input-p {
  color: rgba(255, 255, 255, 0.82);
  font-weight: 300;
}

.logged-in-p {
  color: rgba(255, 255, 255, 0.82);
  font-size: 14px;
}

.logged-in-check {
  display: flex;
  gap: 6px;
  align-items: center;
  align-self: flex-start;
  margin-left: 2px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background-color: rgba(203, 198, 198, 0.4);
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: black;
  border: 1px solid white;
}

.login-button {
  margin-top: 20px;
  padding: 9.5px;
  border-radius: 5px;
  border: none;
  width: 245px;
  color: white;
  background: transparent;
  cursor: pointer;
  border: white 1px solid;
}

.forgot-p {
  text-align: center;
  margin-top: 12px;
  color: white;
  cursor: pointer;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}

.remember-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-in-remember-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px 30px;
}

.remember-animal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.animal-img {
  object-fit: cover;
  width: 90px;
  height: 90px;
  border-radius: 5px;
}

.animal-p {
  margin-top: 5px;
  color: white;
  font-size: 16px;
}

.remember-radio {
  margin-top: 10px;
}

.remember-button {
  border: 1px solid white;
  background: transparent;
  color: white;
  font-size: 17px;
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 6px;
}

.remember-title-p {
  color: white;
  font-size: 32px;
}

.remember-text-p {
  color: rgba(255, 255, 255, 0.82);
  font-size: 16px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px;
}

.remember-number-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.select-number {
  color: white;
  font-size: 23px;
  border-radius: 50%;
  border: 1px solid white;
  padding: 15px 17px;
}

.all-numbers-container {
  margin-bottom: 20px;
  margin-top: 10px;
  gap: 30px 40px;
}

.forgot-password-container {
  display: none;
}

.forget-animals-container {
  display: flex;
  justify-content: center;
  gap: 25px 35px;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.forget-title {
  color: white;
  font-size: 30px;
  text-align: center;
}

.forget-p {
  text-align: center;
  color: rgba(255, 255, 255, 0.82);
  margin-top: 5px;
  font-size: 16px;
}

.forget-numbers-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px 50px;
  margin-bottom: 25px;
  margin-top: 25px;
  flex-wrap: wrap;
}

.new-password-title {
  font-size: 28px;
  margin-top: 10px;
  color: white;
  text-align: center;
}

.forget-input-litte-p {
  color: rgba(255, 255, 255, 0.82);
  font-weight: 300;
  font-size: 16px;
  margin-top: 10px;
}

.new-password-input {
  margin-bottom: 20px;
}

@media (max-width: 450px) {
  .login-back-content-container,
  .login-front-content-container {
    padding: 20px;
  }
}

@media (max-width: 400px) {
  .remember-title-p {
    font-size: 27px;
    text-align: center;
  }
}


@media (max-width: 375px) {
  .login-back-content-container,
  .login-front-content-container {
    padding: 10px;
  }
  .card-input {
    width: 220px;
  }
  .login-button {
    width: 220px;
  }
  .inputs-container {
    margin-top: 10px;
  }
  .forget-animals-container {
    gap: 15px 10px;
  }
  .sign-in-remember-container {
    gap: 15px 25px;
  }
}
